.page {
  padding: var(--spacing-9) var(--spacing-9);
  margin: auto;
  max-width: var(--max-content-width);
  overflow: hidden;

  h3 {
    margin-top: var(--spacing-6);
  }

  ul {
    padding-left: var(--spacing-4);
    list-style-type: '- ';
  }
}

.center {
  text-align: center;
}

.collapseContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);
}

.labelAndBloc {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  > *:first-child {
    width: 100%;
    max-width: 400px;
    flex-shrink: 0;

    img {
      height: auto;
      width: 300px;
    }
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }

  label {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .danger {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--colors-danger);
  }

  .underline {
    text-decoration: underline;
  }

  .center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    display: flex;
    gap: var(--spacing-9);
  }

  .splitColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-6);
    }
  }
}

@media screen and (min-width: 1200px){
  .labelAndBloc {
    flex-direction: row;

    .splitColumn {
      flex-direction: row !important;
      gap: var(--spacing-9) !important;

      > div {
        width: 100%;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }
}


.content {
  padding: var(--spacing-9) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);
}

@media screen and (min-width: 992px) {
  .content {
    padding: var(--spacing-9);
    gap: calc(var(--spacing-6) * 2);
  }
}

.blocWithImage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
  }
}

.image {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .blocWithImage {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-9);
  }

  .blocWithImageReverse {
    flex-direction: row-reverse;
  }

  .image {
    height: auto;
    max-width: 460px;
  }

  .imageVertical {
    max-width: 280px;
  }
}