.steps {
  display: flex;
  flex-direction: column;
}

.step {
  width: 100%;

  .title {
    padding-right: 50px;

    > div {
      background-color: var(--colors-primary);
      color: var(--colors-secondary-soft);
      border-radius: var(--radius-2);
      padding: var(--spacing-3);
      height: 100px;
    }
  }

  .items {
    > ul {
      background-color: var(--colors-negative);
      margin: -36px 0 0 50px;
      padding: var(--spacing-3);
      border-radius: var(--radius-2);
      box-shadow: var(--elevation-1);
      padding-inline-start: 32px;
    }
  }
}

.step:not(:last-child)::after {
  content: ' ';
  height: 50px;
  width: 50px;
  display: block;
  margin: var(--spacing-6) auto var(--spacing-6);
  background: url('/site-Colby-Industries/arrow.svg') center center no-repeat;
}

.compact {
  font-size: 0.8rem;
}

@media screen and (min-width: 992px) {
  .steps {
    align-items: center;
  }

  .step {
    max-width: 500px;
  }
}


@media screen and (min-width: 1200px) {
  .steps {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .step {
    max-width: 300px;
    display: flex;

    .title, .items {
      width: 100%;
      flex-shrink: 0;
    }

    .items {
      margin: 100px 0 0 -100%;
      z-index: 1;
    }
  }

  .step:not(:last-child) {
    margin-right: 80px;
  }

  .step:not(:last-child)::after {
    flex-shrink: 0;
    transform: rotate(270deg);
    margin: var(--spacing-4);
    height: 40px;
    width: 40px;
  }

  .compact {
    .step {
      width: 100%;
      max-width: 230px;

      > .items, .title {
        flex-shrink: initial;
      }
    }

    .step:not(:last-child) {
      margin-right: 20px;
    }

    .step:not(:last-child)::after {
      margin: var(--spacing-2);
      height: 30px;
      width: 30px;
    }
  }
}