.topContainer {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.topContainer::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

.topContainerBackground {
  height: 100%;
  width: 100%;
  background: url("../../../../assets/top-container-background.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(4px);
}

.topContainerContent {
  top: 0;
  z-index: 2;
  position: absolute;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);
  padding: var(--spacing-9);
  height: 100%;
  justify-content: space-between;
}

.topContainerContent h1 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-6);
}

.topContainerSubtitle {
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .topContainerContent {
    padding: var(--spacing-9) 100px;

    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .topContainer {
    height: 400px;
  }

  .topContainerBackground {
    background-attachment: fixed;
  }
}
